HTTP_ADDR=:8080
HTTP_SHUTDOWN_TIMEOUT=30s

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=postgres://POSTGRES_USER_VALUE:POSTGRES_PASSWORD_VALUE@localhost:5432/POSTGRES_DB_VALUE?sslmode=disable